table {
  border-collapse: collapse;
}
th, td {
  border: solid 1px #333; /* 線の種類 太さ 色 */
}

.post {
  border: 10px solid #ccc;
  margin: 10px 40px 40px 10px; 
  max-width: 500px;
  border-radius: 40px;
  padding-left: 20px; /* 左側の内側余白でスペース確保 */
  padding-bottom: 20px;
}
