<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>掲示板アプリ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="board-container">
        <h1>掲示板</h1>
		
        <div class="display">
            <h2>タイトル</h2>

            <div th:each="post : ${latestAllPosts}" >
				<div class="post-container">
				  <div class="post-header">
				    <span class="post-date" th:text="${#temporals.format(post.createdAt, 'yyyy/MM/dd HH:mm')}">日時</span>
				    <span class="deleteConfirmButton" th:onclick="|deletePost(${post.id})|">×</span>
				  </div>
				  <p class="post-content" th:text="${post.content}">コメント</p>
				</div>
            </div>
        </div>

        <form method="post" action="/api/post">
            <label for="authorName">名前</label><br />
            <input type="text" id="authorName" name="authorName" /><br />

            <label for="content">メッセージ</label><br />
            <textarea id="content" name="content" rows="4"></textarea><br />

            <button type="submit">投稿</button>
        </form>
    </div>
    
     <script th:src="@{/js/home.js}"></script>
</body>
</html>
