<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>login画面</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <div class="display">
        <h2 th:text="${title}">タイトル</h2>
        <hr>
    </div>

    <!-- フォーム部分 -->
    <form th:action="@{/api/login}" th:object="${loginForm}" method="post">
		<label for="username">ユーザー名：</label>
	    <input type="text" th:field="*{username}" id="username"></br>
	    <!-- 内容のエラーメッセージ表示 -->
        <div th:if="${#fields.hasErrors('username')}" class="error-message">
            <span th:errors="*{username}" class="error-text"></span>
        </div>
        
	    <label for="password">パスワード：</label>
	    <input type="password" th:field="*{password}" id="password">
	    <div th:if="${#fields.hasErrors('password')}" class="error-message">
	        <span th:errors="*{password}" class="error-text"></span>
	    </div>
	    
	     <!-- 認証エラー全体メッセージ -->
	    <div th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.globalErrors()}" th:text="${err}" class="error-message"></div>

	    <br/>
	    <br/>
	    <input type="submit" value="ログイン">
	</form>
     <script th:src="@{/js/home.js}"></script>
</body>
</html>