<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>掲示板アプリ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	 <!-- 共通ヘッダーを読み込む場所 -->
  	<div id="header"></div>
        <h2>ユーザー一覧</h2>
        <hr>
        <table border="1">
        <tr>
            <th>ID</th>
            <th>ユーザー名</th>
        </tr>

        <!-- AllUser（リスト）をループ -->
        <tr th:each="user : ${AllUser}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.username}">ユーザー名</td>
        </tr>
    </table>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/forum.js}"></script>
</body>
</html>
